<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='js/signinfile.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/signin.css')}}">
    <title>Sign in</title>
</head>
<body>
    
    <div class="box2">
        <form action="/create_account" method="post">
            <label for="Email">Enter Gmail : </label>
            <input type="email" id="reciever_email" name="reciever_email">
            <br><br>
            <label for="Username">Enter Username : </label>
            <input type="text" id="username" name="username">
            <br><br>
            <label for="Password">Enter Password : </label>
            <input type="password" id="password" name="password">
            <br><br>
            <button id="genotp" onclick="runFunctions()">Create Account</button>
        </form>
    </div>

    <p>{{ error_message }}</p>
</body>
</html>